.WeatherDetails {
  display: flex;
  flex-direction: row;
}

.WeatherDetails-loading-spinner {
  padding-top: 30px;
}

.WeatherDetails-temperatures {
  align-items: start;
  text-align: left;
  padding: 20px 10px 10px 12%;
  font-size: medium;
}

.WeatherDetails-current-temperature {
  font-weight: bold;
  font-size: 48px;
}

.WeatherDetails-current-temperature-Light {
  color: #6c40b5;
}

.WeatherDetails-city-country-code {
  font-weight: bold;
}

.WeatherDetails-city-country-code-Light {
  color: rgb(100, 100, 100);
}

.WeatherDetails-divider {
  margin-right: auto;
}

.WeatherDetails-weather {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: small;
  padding: 0 12% 0 0;
  bottom: 0;
}

.WeatherDetails-weather-image {
  margin-top: -100px;
}

.WeatherDetails-weather-details {
  padding-right: 15%;
  margin-top: -20px;
}
